body {
  background-color: #eaeaea !important;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app-container {
  height: calc(100vh - 60px);
  overflow: auto;
  transition: none;
  scroll-behavior: smooth;
}

.react-calendar {
  width: 100%;
  border: none;
}
